@import "palette";
@import "layout";
@import "globalMixins";
@import "globalFunctions";

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(to right, #203d61, #1a355e, #162c5b, #162456, #181a51);
}