@import "palette";
@import "layout";
@import "globalMixins";
@import "globalFunctions";

header {
  main {

    .runLine {
      background: url('../img/line.png') no-repeat;
      background-size: 80% 100vh;
      width: 80%;
      height: 100vh;
      &__runner {
        position: relative;
        top: 15px;
        display: block;
        height: 12vh;
        padding: 18px;
      }
    }
  }
}