@import "layout";
@import "palette";
@import "header";
@import "footer";
@import "notFound";

html {
  font-size: 16px;
}

* {
  font-family: Helvetica, Arial, Geneva, sans-serif;
}

#root{
  background-color: #3a352d;
}